<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/editor.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>conten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row-1">
            <div class="col-1" >MY BLOG</div>
        </div>  
        <div class="row-2">
            <div class="nav"> 
                 <div class="nav_title">
                    <a href="#">首页</a>
                    <a href="#">照片</a>
                    <a href="..//templates/conten.html">文章</a>
                    <span class="Welcome">Welcome to my world</span>
                </div>
            </div>
        </div class="title1">
        <h2>新的MY BLOG</h2>
            <p>来分享喜欢的内容吧</p>

            <div class="container">
            <form action="/action_page.php">
                <div class="row">
                    <div class="col-25">
                    <label for="fname">标题</label>
                    </div>
                    <div class="col-75">
                    <input type="text" id="fname" name="firstname" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="subject">请输入内容</label>
                    </div>
                    <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="" style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="提交">
                </div>
                </form>
                </div>
    </div>
</body>
</html>            