<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..//static/page.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>conten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
      a{
        margin-right: 15px;
        margin-left: 30px;
        text-decoration: none;
        color: rgba(250, 240, 240, 0.753);
      }
      a:hover{color:cadetblue}
      .land{
		    display: block;
		    text-align: right;
		    font-size: 15px;
		}
    </style>
</head>
<body>
    <div class="container">
        <div class="row-1">
            <div class="col-1" >MY BLOG</div>
        </div>  
        <div class="row-2">
            <div class="nav"> 
                 <div class="nav_title">
                    <a href="#">首页</a>
                    <a href="#">照片</a>
                    <a href="..//templates/conten.html">文章</a>
                    <a class="land" href="..//templates/login.html">登录</a>
                </div>
            </div>
            <div class="row-3">
                <div class="item2"><h1>関東</h1>関東地方（かんとうちほう）は、日本の地域区分（全国八地方区分）の1つであり、本州の東部に位置している。 その範囲について法律上の明確な定義はないが、一般的には茨城県、栃木県、群馬県、埼玉県、千葉県、東京都、神奈川県の1都6県を指して関東地方と呼ぶ。 首都・東京都を擁する関東地方は日本の政治・経済の中心となっており、日本の総人口の3分の1が集中している。</div>
                
            </div>  
        </div>
    </div>
</body>
</html>              